<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Register</h1>
    <form id="contact-form" method="post" action="/register">
        <label for="uid">userid</label>
        <input type="text" name="uid">
        <label for="uname">username</label>
        <input type="text" name="uname">
        <label for="age">userage</label>
        <input type="text" name="age">
        <input type="submit" value="submit">
    </form>
</body>
</html>